/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
}

html {
  font-family: "Helvetica";
  font-size: 14px;
}

body {
  max-width: 580px;
  margin: 0 auto;
}

/* HEADER */
header {
  height: 45px;
  background: #fafafa;
  display: flex;
  align-items: center; 
}

.menu {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.menu-icon {
  display: block;
  margin-bottom: 5px;
  width: 24px;
  padding: 1px;
  background: #717171;
  border-radius: 1px;
}

.search-box {
  flex: 1;
  padding-left: 30px;
}

.search-box-item {
  display: inline-block;
  background: url(images/svg/search-icon.svg) white;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 65px 4px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  padding: 5px;
  width: 215px;
}

.search-box-item:focus {
  background: white;
}

/* MAIN CONTENT */
/* IMAGE-BOX */
.image-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.image-box-item {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.image-box-actions {
  display: flex;
  flex: 1;
}

.image-box-like {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.image-box-like-icon {
  background-image: url(images/sprites/sprite.png);
  background-size: 426px 401px;
  background-position: -168px -346px;
  height: 24px;
  width: 24px;
  display: block;
}

.image-box-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.image-box-comment-icon {
  background-image: url(images/sprites/sprite.png);
  background-size: 426px 401px;
  background-position: -293px -346px;
  height: 24px;
  width: 24px;
  display: block;
}

.image-box-view-count {
  width: 100%;
  font-weight: 600;
  padding-left: 10px;
}

.image-box-user-info {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.image-box-user-info img {
  width: 30px;
  border-radius: 50%;
}

.image-box-user-info p {
  font-weight: 600;
  padding: 10px;
  flex-grow: 1;
}

.image-box-user-info button {
  background: #3897f0;
  color: #fff;
  padding: 0 8px;
  border-radius: 3px;
  border: 1px solid #3897f0;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
  width: 100%;
  flex: 0;
}

.image-box-user-info span {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.image-box-date {
  font-size: 10px;
  color: #999;
  letter-spacing: .2px;
  text-transform: uppercase;
  padding: 10px;
}

/* USERS COMMENTS */

.users-comments {
  padding-left: 10px;
  padding-right: 10px;
}

.users-comments li {
  margin-top: 10px
}

.users-comments p {
  display: inline;
}

.users-comments-username {
  font-weight: 600;
}

.users-comments-hashtag {
  padding-left: 5px;
  text-transform: lowercase;
}